<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/button.css" rel="stylesheet" type="text/css">
    <style>
        .reg td{
            height: 40px;
        }
    </style>
</head>
<body>
<table class="reg">
    <th>请填写注册信息</th>
    <tr>
        <td>请填写注册的账号</td>
        <td><input type="text" class="text" name="regName"></td>
    </tr>
    <tr>
        <td>请填写注册的密码：</td>
        <td><input type="text" name="regPassword" ></td>
    </tr>
    <tr>
        <td>请再次填写密码：</td>
        <td><input type="text" name="regPassword2" ></td>
    </tr>
    <tr>
        <td></td>
        <td><a class="button blue big" onclick="add()">增加</a></td>
    </tr>
</table>
</body>
</html>